.btn-adicionar{
    margin-top: 2em;
}

.background{
  background-color: rgb(234, 247, 232);
  background-image: url("/static/icons/fundo-site-1.png");
  background-size: cover;
  background-position: center top;
  background-repeat: space;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-top: 2em;
    margin-bottom: 2rem;
    background-image: url("/static/icons/jumbotron.jpg");
    background-size: cover;
    background-color: #ffffff;
    border-radius: 3rem; 
}

.item_navbar {
    color: whitesmoke;
}

.card_legenda {
  color: burlywood;
}

.botao_legenda_rosa{
  background-color: #f8d7da;
  color: black;
}

.botao_legenda_azul{
  background-color: #CFF4FC;
  color: black;
}

.botao_legenda_amarelo{
  background-color: #FFF3CD;
  color: black;
}