.btn-adicionar{
    margin-top: 2em;
}

.background{
  background-color: rgb(234, 247, 232);
  background-image: url("https://i.postimg.cc/gkTVn3Jj/fundo-site.png");
  background-size: contain;
  background-position: center top;
  background-repeat: round;

}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border-radius: .10rem;
  }

img{
   text-align: center;
       }