.btn-adicionar{
    margin-top: 2em;
}

.background{
  background-color: #F6DAAF;
  background-image: url("/static/icons/fundo_site.png");
  background-size: cover;
  background-position: center;
  background-repeat: space;
}

.jumbotron {
    padding: 2rem 2rem;
    margin-top: 2em;
    margin-bottom: 1rem;
    background-image: url("/static/icons/jumbotron.png");
    background-size:100%;
    background-color: #ffffff;
    border-radius: 4rem; 
    position: relative;
    text-align: center;
}

.item_navbar {
    color: whitesmoke;
}

.card_legenda {
  color: burlywood;
}

.botao_legenda_rosa{
  background-color: #f8d7da;
  color: black;
}

.botao_legenda_azul{
  background-color: #CFF4FC;
  color: black;
}

.botao_legenda_amarelo{
  background-color: #FFF3CD;
  color: black;
}
.botao_geral{
  background-color:#020070;
  color: whitesmoke;
}
.titulos{
  color:#020070; 
  margin-top:2em; 
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}