<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link href={{url_for('static',filename='css/home.css' )}} rel="stylesheet" />
  <script src="https://unpkg.com/feather-icons"></script>
  <title>Alimento Seguro</title>
</head>

<body class="background">

  <div id="liveAlertPlaceholder"></div>
  



  <div class="container">
    <main>
      <div class="py-5 text-center jumbotron">
        <img class="d-block mx-auto mb-4" src={{url_for('static', filename='/icons/alimento_seguro.png' )}}
          alt="logo alimento seguro" width="400" height="400">
        <h1>Programa de Apoio a Alimentação Escolar</h1>
        <h2>Olá! Seja bem vindo!</h2>
        <p class="lead">Este site tem como objetivo contribuir com a execução do Programa Nacional de Alimentação Escolar - PNAE. Ele possui várias ferramentas que irão ajudá-lo no planejamento de cardápios, de acordo com as orientações das legislações vigentes, além de possuir várias orientações sobre educação alimentar e nutricional e controle de qualidade de alimentos.</p>
      </div>

      <div class="py-5 row g-5">

        <div class="card" style="width: 18rem;">
          <img src={{url_for('static', filename='/icons/card1.png')}} class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">O site "Alimento Seguro" contem ferramentas de auxílio ao desenvolvimento de cardápios. Nele, você poderá gerar uma lista de  compras dos alimentos e as fichas técnicas com os valores nutricionais, baseados na Tabela Brasileira de Composição de Alimentos - TACO/UNICAMP. 
              Para começar, você deverá ter  em mãos o cardápio QUALITATIVO (lista de preparações/receitas que serão consumidas) e para cada preparação/receita você seguirá as etapas a seguir:</p>
          </div>
        </div>

        <div class="card" style="width: 18rem; background-color: #587F48; color: whitesmoke;">
          <img src={{url_for('static', filename='/icons/card2.png' )}} class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title text-center">Descrição do Alimento</h2>
            <p class="card-text text-center">  Em "Descrição do alimento", você encontrará uma lista com mais de 600 alimentos em suas mais variadas formas. Para ajudá-lo na seleção dos alimentos que podem ser utilizados no PNAE, sinalizamos os itens restritos, de acordo com a legislação,  para informá-lo que este alimento não deveria estar em sua preparação/ receita.</p>
          </div>
          <a href="#" id="liveAlertBtn">Importante!</a>
        </div>

        <div class="card" style="width: 18rem; background-color: #DB9D71; color: whitesmoke;">
          <img src={{url_for('static', filename='/icons/card3.png' )}}  class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title text-center">Peso Bruto</h2>
            <p class="card-text text-center"> Em "Peso bruto", você deverá inserir a quantidade total do alimento selecionado que será utilizado na sua preparação/receita.  O peso bruto é o peso do alimento tal como ele é comprado, antes de ser submetido às operações do pré-preparo, como descascar, desossar ou cortar. </p>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src={{url_for('static', filename='/icons/card4.png' )}} class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title text-center">Peso Líquido</h2>
            <p class="card-text text-center"> Em "Peso líquido",  você deverá inserir a quantidade do alimento selecionado  que será utilizado na sua preparação/receita, após retirar toda parte que não for aproveitada do ingrediente.
              Caso você não precise retirar  parte alguma do alimento , como cascas ou ossos, para elaborar a receita, o peso bruto e o peso líquido terão os mesmos valores. Após inserir o alimento, o peso bruto e o peso líquido do ingrediente, clique em "Adicionar". Faça isso para todos os ingredientes da sua preparação/receita.  </p>
          </div>
        </div>

      </div>

      <!-- <div class="py-5 row text-center">
        <img class="d-block mx-auto mb-4" style="width: 95%; height: 95%;" src={{url_for('static', filename='/icons/infografico_explicativo.png' )}} alt="infográfico">
      </div> -->


      <div class="py-5 row offset-md-2 offset-lg-2">
        <div class="col-md">
          <label for="alimento" class="form-label">Descrição do alimento</label>
          <datalist id=ingredientes>
            {%for ingrediente in ingredientes%}
            <option value="{{ingrediente}}">
              {% endfor %}
          </datalist>
          <input type="text" class="form-control" id="alimento" value="" autocomplete="on" list=ingredientes>
        </div>

        <div class="col-md-2">
          <label for="peso_bruto" class="form-label">Peso Bruto(g)</label>
          <input type="text" class="form-control" id="peso_bruto" value="">
        </div>

        <div class="col-md-2">
          <label for="peso_liquido" class="form-label">Peso Líquido(g)</label>
          <input type="text" class="form-control" id="peso_liquido" value="">
        </div>

        <div class="col-md">
          <button type="button" class="btn btn-success btn-adicionar" id="btn_adicionar">Adicionar</button>
        </div>
      </div>

     
      <div class="row g-5">
        <div class="col-md-8 col-lg-8 offset-md-2 offset-lg-2">
          <table class="table" id='table'>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Alimento</th>
                <th scope="col">Peso Bruto</th>
                <th scope="col">Peso Líquido</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
              </tr>
            </tbody>
            <tr>
              <th scope="col"> </th>
              <th scope="col"><b>Total</b></th>
              <th scope="col" id="total_bruto"></th>
              <th scope="col" id="total_liquido"></th>
            </tr>
          </table>
        </div>
      </div>

      <div class="py-5 row text-center">
        <img class="d-block mx-auto mb-4" style="width: 50%; height: 50%;" src={{url_for('static', filename='/icons/legendas_alimentos.png' )}} alt="legendas dos alimentos">
      </div>
      <!-- TODO: Inserir Legendas das cores das restrições dos alimentos -->
      <hr class="my-4">

      <!-- <div class="row g-5">
        <div class="col-sm-8 col-md-8 col-lg-8 offset-md-2 offset-lg-2">
          <button class="offset-md-3 offset-sm-3 offset-lg-3 col text-center w-50 btn btn-success btn-lg"
            id="btn_calcular">Calcular</button>
        </div>
      </div>
      se algum dos alimentos adicionados aparece destacado com as cores rosa, azul ou amarelo, provavelmente ele está classificado como:

      <hr class="my-4"> -->

      <div class="py-5 row g-5">
        <div class="col-md-8 col-lg-8 offset-md-2 offset-lg-2">
          <h3 class="text-center">Informação Nutricional por 100g (gramas) da preparação/receita</h3>
          <table class="table" id='tabela_proporcional'>
            <thead>
              <tr>
                <th scope="col"> Informação </th>
                <th scope="col"> Valor</th>
              </tr>
            </thead>
            <tbody id='tbody_proporcional'>
              <tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="py-5 row g-5">
        <div class="col-md-8 col-lg-8 offset-md-2 offset-lg-2">
          <h3 class="text-center">Informação Nutricional para o rendimento total (gramas) da preparação/receita</h3>
          <table class="table" id='tabela_total'>
            <thead>
              <tr>
                <th scope="col"> Informação </th>
                <th scope="col"> Valor</th>
              </tr>
            </thead>
            <tbody id='tbody_total'>
              <tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="py-5 row g-5">
        <div class="col-md-8 col-lg-8 offset-md-2 offset-lg-2">
          <h3 class="text-center"> Informações necessárias para lista de compras</h3>
          <table class="table" id='lista_compras'>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col"> Ingrediente </th>
                <th scope="col"> Peso Bruto (g) </th>
                <th scope="col"> Peso Embalagem (g) </th>
                <th scope="col"> Preço Embalagem (R$) </th>
              </tr>
            </thead>
            <tbody id='tbody_lista_compras'>
              <tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="py-5 row offset-md-7 offset-lg-7">
        <div class="col-md-2">
          <label for="porcoes" class="form-label">Per capita</label>
          <input type="text" class="form-control" id="porcoes" value="1">
        </div>

        <div class="col-md">
          <button type="button" class="btn btn-success btn-adicionar" id="btn_lista_compras">Calcular</button>
        </div>
      </div>

      <div class="py-5 row g-5">
        <div class="col-md-9 col-lg-9 offset-md-2 offset-lg-2">
          <h3 class="text-center">Lista de Compras</h3>
          <table class="table" id='lista_compras_resultado'>
            <thead>
              <tr>
                <th scope="col"> Ingredientes </th>
                <th scope="col"> Peso Bruto (g) </th>
                <th scope="col"> Peso Embalagem (g) </th>
                <th scope="col"> Preço Embalagem(R$) </th>
                <th scope="col"> Preço Por Porção (R$) </th>
                <th scope="col"> Quantidade Para Serviço (g) </th>
                <th scope="col"> Preço Para Serviço (R$) </th>
              </tr>
            </thead>
            <tbody id='tbody_lista_compras_resultado'>
              <tr></tr>
            </tbody>
            <tr>
              <th scope="col"><b>Total</b></th>
              <th scope="col"> </th>
              <th scope="col"> </th>
              <th scope="col"> </th>
              <th scope="col" id="total_porcao"></th>
              <th scope="col"> </th>
              <th scope="col" id="total_servico"></th>
            </tr>
          </table>
        </div>
      </div>

      <div class="py-5 row g-5">
        <div class="col-md-8 col-lg-8 offset-md-2 offset-lg-2">

        </div>
      </div>

    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
   
      <p>
        <span>
        <img style="width: 3%; height: 3%;" src={{url_for('static', filename='/icons/brasao_ufpb.png' )}} alt="brasão ufpb">
        </span>
        <span>Universidade Federal da Paraíba | Centro de Tecnologia e Desenvolvimento Regional | Departamento de Gastronomia </span> 
      </p>
        <p>
        <span>&copy;2021 Weizel Lacouth</span>
        <span>-</span>
        <span>Made with
          <i data-feather="heart"></i>
          <span>and</span>
          <a href="https://palletsprojects.com/p/flask/" target="_blank" rel="noopener">Flask</a>
        </span>
      </p>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"
    integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src={{url_for('static',filename='js/index.js' )}}></script>
  <script>feather.replace()</script>
</body>

</html>