<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link href={{url_for('static',filename='css/home.css' )}} rel="stylesheet" />
  <script src="https://unpkg.com/feather-icons"></script>
  <title>Ficha Técnica Fácil</title>
</head>

<body class="background">

  

  <ul class="nav nav-pills nav-fill" style="background-color:#020070";>
    <li class="nav-item">
      <a class="nav-link item_navbar"  href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link item_navbar"  href="/manuais">Materiais de apoio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link item_navbar" href="#">Links Importantes</a>
    </li>
  </ul>
  
  <div class="card mb-3">
    <div class="card-body" style="background-color:#ACB9E9; color: #020070";">
      <p class="card-text text-center">
        <span>
        <img style="width: 3%; height: 3%;" src={{url_for('static', filename='/icons/brasao_ufpb.png' )}} alt="brasão ufpb">
        </span>
        <span>Universidade Federal da Paraíba | Centro de Tecnologia e Desenvolvimento Regional | Departamento de Gastronomia </span> 
      </p>
    </div>
  </div>


  <div class="container">
    <main>
      <div class="py-2 text-small jumbotron">
        <img class="d-block mx-auto mb-1 " src={{url_for('static', filename='/icons/logo_lab.png' )}}
          alt="logo lab" width="25%" height="25%">
        <h1 class="display-1" style="color:#020070; font-weight: bold; padding-bottom: 12rem; text-decoration:solid;">FICHA TÉCNICA FÁCIL</h1>
  </div>



  <div class="py-5 row g-5">
    <div class="card-group gap-1">
      
      <div class="card" style="width: 18rem; background-color:#48436A; color: whitesmoke;">
        <div class="card-body">
          <h5 class="card-title; text-center">GUIA ALIMENTAR PARA A POPULAÇÃO BRASILEIRA</h5>
            <p class="card-text;" style="text-align:justify;">O Guia Alimentar da População Brasileira é um material 
               de domínio público e linguagem acessível com diretrizes sobre alimentação que visa promover a saúde de pessoas, famílias, comunidades e 
               prevenir doenças crônicas não transmissíveis, como diabetes, doenças do coração, entre outras. 
              Ele traz informações e recomendações munidas de argumentos científicos, sendo uma publicação com premiações e reconhecimento internacional.</p>
          <a target ="_blank" href="https://bvsms.saude.gov.br/bvs/publicacoes/guia_alimentar_populacao_brasileira_2ed.pdf?utm_source=referral&utm_medium=site+idec&utm_campaign=ded+guia+alimentar" class="btn botao_geral">Ir para o site</a>
        </div>
      </div>

      <div class="card" style="width: 18rem; background-color:#A5BE73; color: black;" >
        <div class="card-body">
          <h5 class="card-title; text-center">E-BOOK GASTRONOMIA E ALIMENTAÇÃO ESCOLAR</h5>
            <p class="card-text;"style="text-align:justify;">Livro desenvolvido por alunos do Curso de Gastronomia da Universidade Federal da Paraíba,
               com orientações e ferramentas voltadas aos profissionais envolvidos no processo de 
               construção de hábitos alimentares saudáveis no ambiente escolar. O Gastronomia e Alimentação Escolar- GAE tem como objetivo servir de
               roteiro para a elaboração de cardápios saudáveis, sustentáveis e regionalizados, contribuindo para a redução de desperdício dos alimentos e 
               promovendo qualidade e aceitabilidade na alimentação escolar.
            </p>
          <a target ="_blank" href="https://drive.google.com/file/d/14ouDYVSAIPX6c1bzbud7HSmFY0U_oxH1/view?usp=sharing" class="btn botao_geral">Ir para o site</a>
        </div>
      </div>

 <div class="card" style="width: 18rem; background-color: #F5A833; color: black;" >
        <div class="card-body">
          <h5 class="card-title; text-center">TABELA BRASILEIRA DE COMPOSIÇÃO DE ALIMENTOS</h5>
            <p class="card-text; "style="text-align:justify;">A TACO é uma coletânea de dados analíticos referêntes aos 
              alimentos da biodiversidade brasileira e alimentos regionais e uma reunião de informações sobre o conteúdo de componentes dos alimentos
              mais consumidos no Brasil, com o objetivo de permitir a avaliação da ingestão de
              nutrientes e facilitar o planejamento de planos alimentares.</p>
              <a target ="_blank" href="http://www.tbca.net.br/" class="btn botao_geral">Ir para o site</a>
        </div>
      </div>
  </div>


    </div>

    <div class="py-5 row g-5">
      <div class="card-group gap-1">
        
        <div class="card" style="width: 18rem; background-color:#BB4823; color: whitesmoke;">
          <div class="card-body">
            <h5 class="card-title; text-center">E-BOOK GASTRONOMIA DIVERTIDA</h5>
              <p class="card-text;" style="text-align:justify;"> Livro de coletânea de receitas desenvolvidas por
                professores e estudantes de gastronomia e nutrição da Universidade Federal da
                Paraíba. As receitas e as dinâmicas deste livro podem ser aplicadas em família 
                e se tornarem instrumentos para estreitar vínculos, despertando a criatividade das crianças e estimulando o aprendizado de
                diferentes conteúdos, contribuindo com uma alimentação saudável, de qualidade e promovendo momentos de alegria! </p>
            <a target ="_blank" href="http://www.ctdr.ufpb.br/ctdr/contents/documentos/dtg/enfrentamento-ao-covid-19/gastronomia-divertida" class="btn botao_geral">Ir para o site</a>
          </div>
        </div>
  
        <div class="card" style="width: 18rem; background-color:#F5A833; color: black;" >
          <div class="card-body">
            <h5 class="card-title; text-center">E-BOOK PLANEJAMENTO DE CARDÁPIOS</h5>
              <p class="card-text;"style="text-align:justify;"> Livro desenvolvido por alunos do Curso de Gastronomia da Universidade Federal da Paraíba 
                com o objetivo de reunir, de forma simples e prática, informações e instruções para um bom planejamento de
                cardápios, no tocante aos serviços de alimentação.</p>
            <a target ="_blank" href="https://drive.google.com/file/d/1Kiy-_JI0RyUqRJY4JT-WJ6m8gYZTMloL/view" class="btn botao_geral">Ir para o site</a>
          </div>
        </div>
  
   <div class="card" style="width: 18rem; background-color: #ACB9E9; color: black;" >
          <div class="card-body">
            <h5 class="card-title; text-center">E-BOOK FAÇA E VENDA: BOLO VULCÃO</h5>
              <p class="card-text; "style="text-align:justify;">Livro foi planejado e desenvolvido para               
                o público em geral com o objetivo de estimular a inovação e o aperfeiçoamento da produção de bolos. O livro contém um curso planejado para você, que
                pretende trabalhar com “Bolo Vulcão” mas não sabe como começar. Este livro contém o passo-a-passo de como preparar, precificar e vender
                esses produtos.</p>
                <a target ="_blank" href="https://drive.google.com/file/d/1Vrp8cEUACwjFIV3Ip2WLKOuGk4MUpv5F/view" class="btn botao_geral">Ir para o site</a>
          </div>
        </div>
    </div>
  
  
      </div>
  </div>

      

    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p>
        <span>&copy;2022 Desenvolvido por Giovanna Weizel Lacouth</span>
        <span>-</span>
        <span>Made with
          <i data-feather="heart"></i>
          <span>and</span>
          <a href="https://palletsprojects.com/p/flask/" target="_blank" rel="noopener">Flask</a>
        </span>
      </p>
      <p>
        <span>
          <i data-feather="instagram"></i>
          <a href="https://www.instagram.com/lab.restaurante.didatico_ufpb/?hl=pt-br" target="_blank" rel="noopener">@lab.restaurante.didatico_ufpb</a>
        </span>
      </p>
    </footer>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"
    integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src={{url_for('static',filename='js/index.js' )}}></script>
  <script>feather.replace()</script>
</body>

</html>